.App {
  font-family: 'Pangolin', cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(47, 47, 66);
  text-align: center;
  background: url(http://localhost:8080/get-background-image) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  font-size:40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #488a9c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.i1 {
  --i: 1;
}

.i2 {
  --i: 2;
}
.i3 {
  --i: 3;
}
.i4 {
  --i: 4;
}
.i5 {
  --i: 5;
}
.i6 {
  --i: 6;
}
.i7 {
  --i: 7;
}

.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
  color: rgb(47, 47, 66);
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i));
  animation-duration: 20s;
}

@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}

.sidebar {
  grid-area: sidebar;
}

.content-left {
  grid-area: content-left;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
}

.content-right {
  grid-area: content-right;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
  font-size:20px;
}


.wrapper {
  width: 90%;
  height: 80%;
  border-style: dashed;
  border-color: aqua;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 20% 50% auto;
  grid-template-rows: 15% auto 5%;
  grid-template-areas:
             "....... header  header"
             "sidebar content-left content-right"
             "footer footer footer";
  color: #444;
}

.box {
background-color: #38385f85;
color: #fff;
border-radius: 5px;
padding: 10px;

}

.header, .footer {
background-color: #28284485;
}

.potion {
  font-size: 25px;
  padding-bottom: 1em;
}

.potion-headline {
  font-weight: bold;
  color: rgb(47, 47, 66);
}

.recipe-link {
  float: right;
}

.houses {
  border-style: dashed;
  border-color: blue;
}

a {
  font-weight: bold;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index: 1;
}

a::after {
  font-weight: bold;
  content: '';
  position: absolute;
  left: 0;
  bottom: .07em;
  height: .1em;
  width: 100%;
  background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
  z-index: -1;
  transition: height .25s cubic-bezier(.6,0,.4,1);
}

a:hover::after {

  height: .2em;
}
